@font-face {
  font-family: "Inter";
  src: local("Inter")
    url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
}

@import "tailwindcss";

@theme {
  /* COLORS */
  --color-purple: #4f39f6;

  /* FONTS */
  --font-Inter: "Inter";
}
